/* STYLES FOR THE CATEGORIES COMPONENT */

.categories {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;

    .category {
        background-color: var(--grey-200);
        width: 90%;
        height: 165px;
        text-align: center;
        padding-top: 88px;
        padding-bottom: 22px;
        position: relative;
        border-radius: 8px;

        .category-image {
            position: absolute;
            top: -45px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            height: 140px;
            width: auto;

        }

        p {
            margin-top: 0;
            font-weight: 700;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 1.07px;
            color: black;
        }

        a {
            color: var(--grey-300);
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;
            font-weight: 700;
            display: flex;
            gap: 14px;
            justify-content: center;
            align-items: center;
        }
    }
}