/* PRODUCT CARD SHORT STYLES */

.product-card-short {
    text-align: center;

    img {
        width: 100%;
        height: auto;
        margin-bottom: 32px;
    }

    .new {
        margin-bottom: 24px;
    }

    h2 {
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    p {
        margin: 24px 0;
    }

    .cs-button {
        margin: 0 auto;
    }
}

/* tablet */
@media  screen and (min-width: 700px) {
    .product-card-short {
        img {
            margin-bottom: 52px;
        }

        .new {
            margin-bottom: 16px;
        }

        h2 {
            font-size: 40px;
            letter-spacing: 1.44px;
            margin-top: 0;
            margin-bottom: 32px;
        }

        p {
            max-width: 572px;
            margin: auto;
        }

        .cs-button {
            margin-top: 24px;
        }


        // spacing between last card and categories component
        &:last-child {
            margin-bottom: 52px;
        }
    }
}