/* PRODUCT CARD SHORT STYLES */

.product-card-short {
    text-align: center;

    img {
        width: 100%;
        height: auto;
    }

    h2 {
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .cs-button {
        margin: 0 auto;
    }
}