/* CATEGORY PAGE STYLES */

/* HERO SECTION */
#hero {
    background-color: var(--navBackground);
    height: 84px;

    h1 {
        color: white;
        font-size: 28px;
        letter-spacing: 2px;
    }
}