/* CATEGORY PAGE STYLES */

/* HERO SECTION */
#inner-hero {
    background-color: var(--navBackground);
    height: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;

    h1 {
        color: white;
        font-size: 28px;
        letter-spacing: 2px;
        text-align: center;
    }
}

/* tablet */
@media screen and (min-width: 700px) {
    #inner-hero {
        height: 246px;

        h1 {
            font-size: 40px;
            letter-spacing: 1.44px;
        }
    }
}

/* PRODUCT CARDS SECTION */
.content-wrapper {
    .card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 120px;
    }
}

/* tablet */
@media screen and (min-width: 700px) {
    .content-wrapper {
        padding: 120px 40px 24px 40px;
    }
}

/* desktop */
@media screen and (min-width: 1200px) {
    .content-wrapper {
        padding: 160px 165px 0 165px;
        gap: 160px;
        // below about section spacing
        margin-bottom: 60px;

        .card-wrapper {
            gap: 160px;
        }
    }
}

/* larger screens */ 
@media screen and (min-width: 1550px) {
    .content-wrapper {
        align-items: center;
        width: 1200px;
        margin: auto;
        margin-bottom: 60px;
        padding-left: 0;
        padding-right: 0;
    }
}