/* ROOT, HEADER, FOOTER AND GENERAL STYLES */
// ROOT VARIABLES
:root {
    --primary: #d87d4a;
    --primaryLight: #fbaf85;

    --grey-100: #fafafa;
    --grey-200: #f1f1f1;
    --grey-250: #cfcfcf;
    --grey-300: #979797;
    --grey-400: #4c4c4c;
    --grey-900: #101010;

    --navBackground: #1a1919;

    --error: #cd2c2c;
}

// FONTS
/* manrope-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('/src/assets/fonts/manrope-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('/src/assets/fonts/manrope-v15-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('/src/assets/fonts/manrope-v15-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
html {
    font-size: 100%;
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    font-size: 15px;
}

#main {
    // padding-top: 90px;
    position: relative;
}

.content-wrapper {
    padding: 65px 24px 0 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

// hidden class
.hidden {
    display: none;
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    letter-spacing: 1.29px;
    line-height: 1.1;
}

// new product text
.new {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: var(--primary);
}

/* go back link */
.go-back {
    text-transform: capitalize;
    color: var(--grey-300);
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    top: 16px;

    &:hover {
        color: var(--primary);
    }
}

/* buttons */
button {
    cursor: pointer;
    background: transparent;
    border: none;
    font: inherit;
}

.cs-button {
    height: 48px;
    width: 160px;
    display: block;
    text-align: center;
    padding: 15px 0;
    background-color: var(--primary);
    color: white;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
        background-color: var(--primaryLight);
    }
}

input {
    font: inherit;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: var(--grey-300);
}

picture {
    display: block;

    img {
        display: block;
    }
}


// HEADER / NAV STYLES
#cs-navigation {
    width: 100vw;
    background-color: var(--navBackground);
    position: absolute;
    top: 0;
    z-index: 100;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        padding: 0 24px;
    }

    &.cs-active {
        &:before {
            width: 100%;
            opacity: 1;
        }

        .nav-links-wrapper {
            opacity: 1;
            transform: scaleX(1);
            transition-delay: 0.2s;
        }
    }

    .cs-toggle {
        width: 16px;
        height: clamp(2.75rem, 6vw, 3rem);
        border-radius: calc(4 / 16 * 1rem);
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cs-active {
        .cs-line1 {
            top: 50%;
            transform: translate(-50%, -50%) rotate(225deg);
        }

        .cs-line2 {
            top: 50%;
            transform-origin: center;
            transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
        }

        .cs-line3 {
            bottom: 100%;
            opacity: 0;
        }
    }

    .cs-box {
        /* 24px - 28px */
        width: clamp(1.5rem, 2vw, 1.75rem);
        /* 14px - 16px */
        height: clamp(0.875rem, 1.5vw, 1rem);
        position: relative;
    }

    .cs-line {
        width: 16px;
        height: 3px;
        background-color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .cs-line1 {
        top: 0;
        transform-origin: center;
        transition: transform 0.5s, top 0.3s, left 0.3s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }

    .cs-line2 {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: top 0.3s, left 0.3s, transform 0.5s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }

    .cs-line3 {
        bottom: 0;
        transition: bottom 0.3s, opacity 0.3s;
    }

    .nav-links-wrapper {
        height: 200vh;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.377);
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: auto;
        right: 0;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: top right;
        transition: transform 0.4s, opacity 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4em;

        .categories {
            width: 100vw;
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 60px;
            align-items: center;
            justify-content: center;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 84px 24px 35px 24px;
        }


        ul {
            display: none;
        }
    }

    // cart button & notification
    .cart-button {
        position: relative;

        .notification {
            position: absolute;
            height: 20px;
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            border-radius: 50%;
            background-color: var(--primary);
            color: white;
            right: -5px;
            top: -12px;
        }
    }
}

/* tablet header */
@media screen and (min-width:700px) {
    #cs-navigation {
        display: flex;
        justify-content: center;

        nav {
            justify-content: flex-start;
            gap: 42px;
            padding: 0;
            border-bottom: 1px solid var(--grey-300);
            width: 90%;

            .cart-button {
                margin: 0 0 0 auto;
            }
        }

        .nav-links-wrapper {
            .categories {
                flex-direction: row;
                gap: 10px;
            }
        }
    }
}

/* desktop header */
@media screen and (min-width: 1200px) {
    #cs-navigation {
        padding: 0 165px;

        .cs-toggle {
            display: none;
        }

        nav {
            justify-content: space-between;
            width: 100%;
            height: 96px;

            .cart-button {
                margin: 0;
            }
        }

        .nav-links-wrapper {
            height: auto;
            opacity: 1;
            position: static;
            z-index: 1;
            transform: scaleX(1);
            background-color: var(--navBackground);

            .categories {
                display: none;
            }

            ul {
                display: flex;
                gap: 34px;

                li {
                    a {
                        color: white;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 13px;
                        font-weight: 700;

                        &:hover {
                            color: var(--primary);
                        }
                    }
                }
            }
        }
    }
}

/* ABOUT SECTION */
#about {
    margin-bottom: 120px;

    picture {
        img {
            border-radius: 8px;
            width: 100%;
            height: auto;
            margin-bottom: 40px;
        }
    }

    h2 {
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;

        span {
            color: var(--primary);
        }
    }

    p {
        text-align: center;
        margin-top: 32px;
        margin-bottom: 0;
    }
}

/* tablet */
@media screen and (min-width: 700px) {
    #about {
        margin-bottom: 96px;

        picture {
            img {
                margin-bottom: 64px;
            }
        }

        h2 {
            font-size: 40px;
            max-width: 573px;
            margin: auto;
        }

        p {
            max-width: 573px;
            margin: 32px auto 0 auto;
        }
    }
}


/* desktop */
@media screen and (min-width: 1200px) {
    #about {
        display: flex;
        gap: 125px;
        align-items: center;
        margin-bottom: 100px;
        justify-content: space-between;

        picture {
            order: 1;
            width: 50%;

            img {
                margin-bottom: 0;
            }
        }

        .cs-text {
            h2 {
                text-align: left;
                max-width: 445px;
                margin-left: 0;
            }

            p {
                text-align: left;
                max-width: 445px;
            }
        }
    }
}

/* larger screens */
@media screen and (min-width: 1550px) {
    #about {
        width: 1200px;
    }
}

/* FOOTER */
footer {
    background-color: black;
    text-align: center;
    position: relative;
    padding: 56px 24px 38px 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
    justify-items: center;

    .color-box {
        position: absolute;
        top: 0;
        background-color: var(--primary);
        height: 4px;
        width: 101px;
    }

    .sitemap {
        display: flex;
        flex-direction: column;
        gap: 24px;

        a {
            color: white;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 2px;

            &:hover {
                color: var(--primary);
            }
        }
    }

    .social-links {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: center;
        align-items: center;

        svg {
            &:hover {
                path {
                    fill: var(--primary);
                }
            }
        }
    }
}

/* tablet */
@media screen and (min-width: 700px) {
    footer {
        padding: 60px 40px 46px 40px;
        grid-template-areas: "logo logo"
            "sitemap sitemap"
            "text text"
            "copyright socials";
        grid-template-columns: 1fr 1fr;
        justify-items: start;
        text-align: left;
        gap: 32px;

        .color-box {
            left: 40px;
        }

        .logo {
            grid-area: logo;
        }

        .sitemap {
            grid-area: sitemap;
            flex-direction: row;
            gap: 34px;
        }

        .footer-text {
            grid-area: text;
        }

        .copyright {
            grid-area: copyright;
            margin-top: 48px;
        }

        .social-links {
            grid-area: socials;
            justify-self: end;
            margin-top: 48px;
        }
    }
}

/* desktop */
@media screen and (min-width: 1200px) {
    footer {
        padding: 75px 165px 48px 165px;
        grid-template-areas: "logo sitemap"
            "text socials"
            "copyright .";

        .color-box {
            left: 165px;
        }

        .sitemap {
            justify-self: end;
        }

        .social-links {
            align-items: end;
        }

        .footer-text {
            margin-top: 20px;
        }
    }
}