/* ROOT, HEADER, FOOTER AND GENERAL STYLES */
// ROOT VARIABLES
:root {
    --primary: #d87d4a;
    --primaryLight: #fbaf85;

    --grey-100: #fafafa;
    --grey-200: #f1f1f1;
    --grey-300: #979797;
    --grey-900: #101010;

    --navBackground: #1a1919;
}

// FONTS
/* manrope-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('/src/assets/fonts/manrope-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('/src/assets/fonts/manrope-v15-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('/src/assets/fonts/manrope-v15-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
html {
    font-size: 100%;
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}

main {
    padding-top: 90px;
}

// hidden class
.hidden {
    display: none;
}

h1,
h2 {
    text-transform: uppercase;
}

// new product text
.new {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: var(--primary);
}

/* buttons */
button {
    cursor: pointer;
    background: transparent;
    border: none;
    font: inherit;
}

.cs-button {
    height: 48px;
    width: 160px;
    display: block;
    text-align: center;
    padding: 15px 0;
    background-color: var(--primary);
    color: white;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input {
    font: inherit;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: var(--grey-300);
}


// HEADER / NAV STYLES
#cs-navigation {
    width: 100vw;
    background-color: var(--navBackground);
    position: fixed;
    top: 0;
    z-index: 100;


    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        padding: 0 24px;
    }

    &.cs-active {
        &:before {
            width: 100%;
            opacity: 1;
        }

        .nav-links-wrapper {
            opacity: 1;
            transform: scaleX(1);
            transition-delay: 0.2s;
        }
    }

    .cs-toggle {
        width: 16px;
        height: clamp(2.75rem, 6vw, 3rem);
        border-radius: calc(4 / 16 * 1rem);
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cs-active {
        .cs-line1 {
            top: 50%;
            transform: translate(-50%, -50%) rotate(225deg);
        }

        .cs-line2 {
            top: 50%;
            transform-origin: center;
            transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
        }

        .cs-line3 {
            bottom: 100%;
            opacity: 0;
        }
    }

    .cs-box {
        /* 24px - 28px */
        width: clamp(1.5rem, 2vw, 1.75rem);
        /* 14px - 16px */
        height: clamp(0.875rem, 1.5vw, 1rem);
        position: relative;
    }

    .cs-line {
        width: 16px;
        height: 3px;
        background-color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .cs-line1 {
        top: 0;
        transform-origin: center;
        transition: transform 0.5s, top 0.3s, left 0.3s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }

    .cs-line2 {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: top 0.3s, left 0.3s, transform 0.5s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }

    .cs-line3 {
        bottom: 0;
        transition: bottom 0.3s, opacity 0.3s;
    }

    .nav-links-wrapper {
        height: 100vh;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.377);
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: auto;
        right: 0;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: top right;
        transition: transform 0.4s, opacity 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4em;

        .categories {
            width: 100vw;
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 60px;
            align-items: center;
            justify-content: center;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 32px 24px;

            .category-image {
                height: 104px;
                width: auto;
            }
        }


        ul {
            display: none;
        }
    }
}

/* tablet header */
@media screen and (min-width:768px) {
    #cs-navigation {

        .nav-links-wrapper {
            .categories {
                flex-direction: row;
                gap: 10px;
            }
        }
    }
}

/* desktop header */
@media screen and (min-width: 1440px) {
    #cs-navigation {
        .cs-toggle {
            display: none;
        }

        .nav-links-wrapper {
            height: auto;
            opacity: 1;
            position: static;
            z-index: 1;
            transform: scaleX(1);

            .categories {
                display: none;
            }

            ul {
                display: flex;
                gap: 34px;

                li {
                    a {
                        color: white;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 13px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

/* ABOUT SECTION */
#about {
    img {
        border-radius: 8px;
        width: 100%;
        height: auto;
    }

    h2 {
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;

        span {
            color: var(--primary);
        }
    }

    p {
        text-align: center;
    }
}

/* FOOTER */
footer {
    background-color: black;
    text-align: center;
    position: relative;
    padding-top: 56px;
    padding-bottom: 38px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
    justify-items: center;

    .color-box {
        position: absolute;
        top: 0;
        background-color: var(--primary);
        height: 4px;
        width: 101px;
    }

    .sitemap {
        display: flex;
        flex-direction: column;
        gap: 16px;   

        a {
            color: white;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 2px;
        }
    }

    .social-links {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: center;
        align-items: center;
    }
}